/* App.css */
* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #EDE9E4;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame {
  background-color: #FDFBFA;
  border: 4px solid #BC9E80;
  padding: 9rem 10rem;
  border-radius: 50px;
  box-shadow: 0 8px 20px rgba(188, 158, 128, 0.3);
  text-align: center;
  max-width: 1000px;
  width: 100%;
}

h1 {
  color: #BC9E80;
  font-size: 4rem;
  margin-bottom: 0.5rem;
}

p {
  color: #C6B8A6;
  margin-bottom: 2rem;
  font-size: 1.25rem;
}

button {
  background-color: transparent;
  color: #BC9E80;
  border: 2px solid #BC9E80;
  border-radius: 12px;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  font-size: 1.8rem;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #BC9E80;
  color: #fff;
}
